<p id="notice"><%= notice %></p>

<p><strong>Destination:</strong>
	<%= @trip.destination %>
</p>
<p>
  <strong>Start date:</strong>
  <div class="dateonlyshow"><%= @trip.start_date.strftime("%b %d").to_s %></div>
</p>

<p>
  <strong>End date:</strong>
  <div class="dateonlyshow"><%= @trip.end_date.strftime("%b %d").to_s %></div>
</p>

<strong>Legs:</strong><br>
<% x=0 %>
<% @trip.legs.each do |leg| %>		
	Leg# <%= x += 1 %>
	<%= link_to leg.leg_show, leg %>
	<%= leg.mileage_total %> Miles<br>
<% end %>
<br>
<strong>Total mileage:</strong>
<%= @trip.trip_miles%>

<br><br>
<% @trip.expenses.each do |expense|%>
	<%= expense.expense_name %>: <%= number_to_currency(expense.expense_amount)%>
		Receipt? 
		<% if expense.receipt_check? %>
			<%= image_tag('check.png', :size => "20x20") %> 
		<% else%> 
			<%= image_tag('x.png', :size => "20x20") %>
		<% end%>
<% end%>
<br><br>
<strong>Total expenses:
	<%= number_to_currency(@trip.trip_expense_total) %>

<br><br>

<%= link_to 'Add an Expense', new_trip_expense_path(:trip_id => @trip.id), class: "btn btn-default" %> 
<%= link_to 'Add a Leg', new_trip_leg_path(:trip_id => @trip.id), class: "btn btn-default" %>
<%= link_to 'Edit', edit_trip_path(@trip), class: "btn btn-default" %> 
<%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md" %>


