<div class="container">
  <%= simple_form_for @leg do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :trip_id %><br> 
  </div>
  <div class="row">
   <%= f.input :start_time, as: :datetime, html5: true %><br>
  </div>
  <div class="row">
    <%= f.input :end_time, as: :datetime, html5: true %><br>
  </div>
  <div class="row">
    <%= f.input :start_mileage %><br>
  </div>
  <div class="row">
    <%= f.input :end_mileage %><br>
  </div>
  <div class="row">
    <%= f.input :non_travel_time_in_minutes %><br>
  </div>
  <div class="row">
    <%= f.input :non_work_miles %><br>
  </div>
   <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
</div>