<div class="container">
  <%= simple_form_for @leg do |f| %>
  <%= f.error_notification %>
 
  <div class="row">
    <%= f.input :trip_id, value: :trip_id %><br> 
    <!-- f.hidden_field -->
  </div>

  <div class="row">
    <%= f.input :destination, autofocus: true %>
  </div>


   <%= f.input :start_time, as: :datetime_picker %><br>
 

   
    <%= f.input :end_time, as: :datetime_picker %><br>
 
 

  <div class="row">
    <div class="col-md-6">
    <%= f.input :start_mileage %><br>
  </div>
  <div class="col-md-6">
    <%= f.input :end_mileage %><br>
  </div>
</div>
  <div class="row">
    <%= f.input :non_travel_time_in_minutes %><br>
  </div>
  <div class="row">
    <%= f.input :non_work_miles %><br>
  </div>

   <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
</div>

  

        



