<div class="container">
  <%= simple_form_for @leg do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.input :trip_id %><br> 
  </div>
  <div class="row" >
   
  </div>
  <div class="row">
    <%= f.input :end_time %><br>
  </div>
  <div class="row">
    <%= f.input :start_mileage %><br>
  </div>
  <div class="row">
    <%= f.input :end_mileage %><br>
  </div>
  <div class="row">
    <%= f.input :non_travel_time_in_minutes %><br>
  </div>
  <div class="row">
    <%= f.input :non_work_miles %><br>
  </div>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"><%= f.input :start_time %></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
   <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
</div>


