<div class="container">
  <%= simple_form_for @leg do |f| %>
  <%= simple_form_for [@trip, @leg] do |f| %>
  <%= f.error_notification %>
 
  <div class="row">
    
    <%= f.association :trip, label_method: :trip_label, value_method: :id, :value => params[:trip_id] %><br> 
    <!-- f.hidden_field -->
  </div>

  <div class="row">
    <%= f.input :destination, autofocus: true %>
  </div>

<div class="row">
  <div class="col-md-6">
  <%= f.input :date, as: :date, html5: true %>
</div>
<div class="col-md-2">
  <%= f.input :next_day %>
</div>
</div>

<div class="row">
  <div class="col-md-6">
   <%= f.input :start_time, as: :time, html5: :true %><br>  

   </div>
<div class="col-md-6">
   <%= f.input :end_time, as: :time, html5: :true %><br>
 </div>
</div>
 

  <div class="row">
    <div class="col-md-6">
    <%= f.input :start_mileage %><br>
  </div>
  <div class="col-md-6">
    <%= f.input :end_mileage %><br>
  </div>
</div>
  <div class="row">
    <%= f.input :non_travel_time_in_minutes %><br>
  </div>
  <div class="row">
    <%= f.input :non_work_miles %><br>
  </div>

   <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
<% end %>
</div>

  

        



