<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @leg.trip_id %>
</p>

<p>
  <strong>Start time:</strong>
  <div class="dateshow"><%= @leg.start_time %></div>
</p>

<p>
  <strong>End time:</strong>
  <div class="dateshow"><%= @leg.end_time %></div>
</p>

<p>
  <strong>Start mileage:</strong>
  <%= @leg.start_mileage %>
</p>

<p>
  <strong>End mileage:</strong>
  <%= @leg.end_mileage %>
</p>

<p>
  <strong>Non travel time in minutes:</strong>
  <%= @leg.non_travel_time_in_minutes %>
</p>

<p>
  <strong>Non work miles:</strong>
  <%= @leg.non_work_miles %>
</p>

<p>
  <strong>Total Miles:</strong>
  <%= @leg.mileage_total %>
</p>

<p>
  <strong>Total Travel Time:</strong>
  
  <%= pluralize(@leg.travel_time_hours, "hour") %> 
  <%= pluralize(@leg.travel_time_minutes, "minute") %>
</p>
<%= link_to 'Edit', edit_leg_path(@leg) %> |
<%= link_to 'Back', legs_path %> 
