<div class="container">
<%= simple_form_for @expense do |f| %>
<%= f.error_notification %>
  

  <div class="row">
    <%= f.association :trip, label_method: :trip_label, value_method: :id, :value => params[:trip_id] %>
  </div>
  <div class="row">
    <%= f.input :expense_name %><br>
    
  </div>
  <div class="row">
    <%= f.input :expense_amount %><br>
 
  </div>
   <div class="row">
    <%= f.input :expense_date, as: :date, html: true %><br>
 
  </div>
  <div class="row">
    <%= f.input :expense_receipt, as: :file %><br>
  </div>
  <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
</div>