<p id="notice"><%= notice %></p>

<h1>Listing Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Trip</th>
      <th>Expense name</th>
      <th>Expense amount</th>
      <th>Expense date</th>
      <th>Expense receipt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.trip_id %></td>
        <td><%= expense.expense_name %></td>
        <td><%= expense.expense_amount %></td>
        <td><%= expense.expense_date %></td>
        <td><%= image_tag expense.expense_receipt(:thumb) %></td>
        <td><%= link_to 'Show', expense, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense), class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


